<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>

<article id="landing">

  <div id="logo_container">
    <%=image_tag "biovision_logo.png" %>
  </div>

</article>