<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= t('projects.index.nav_text') %>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'index/index/projects', locals: { collection: @collection } %>
</article>
