html {
  font: 10px $main-font-family;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  color: $primary-text-color;
  font-size: $normal-font-size;

  > header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .logo {
      margin: 0 0 .8rem 0;
      width: 20rem;

      img {
        width: 15.3rem;
        height: 2.8rem;
      }
    }

    nav {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style: none;
          margin: 0 .25rem;
          text-align: center;
        }
      }
    }
  }
}

h1, h2 {
  margin: 0;
}

main {
  padding: 1rem;
}
