<% if current_user_has_privilege?(:portfolio_manager) %>
  <nav>
    <div class="heading"><%= t('.heading') %></div>

    <ul>
      <li><%= render 'admin/projects/nav_item' %></li>
    </ul>
  </nav>
<% end %>