#landing {
  padding: 0;
  background-color: #ffffff;

  > header {
    width: 100%;
    height: 100rem;
    background: url("main_pic.png") center no-repeat;
    background-color: #ffffff;

    .logo_and_nav {
      width: $max_content_width;
      margin: 0 auto;
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-between;

      #logo_container {
        background-color: $base_bg_color;
        width: 12rem;
        height: 9.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px #ffffff;
        box-sizing: border-box;
      }

      nav {
        .buttons_container {
          display: flex;
          justify-content: flex-end;
          color: #ffffff;

          .button {
            display: block;
            border: solid 2px #ffffff;
            padding: 1rem 2rem;
            margin-left: 2rem;
            box-sizing: border-box;
            font-size: 1.4rem;
            text-decoration: none;

            &:hover {
              color: $base_bg_color;
              background-color: #ffffff;
              text-decoration: none;
            }
          }
        }

        .menu {
          padding: 0;

          li {
            display: inline-block;
            box-sizing: border-box;
            padding: 1.5rem 0 1rem 4rem;
            color: #ffffff;
            font-size: 1.6rem;

            a {
              color: #ffffff;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .prices_block {
    height: 55rem;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    padding-top: 7.6rem;

    > header {
      margin: 0 auto;
      text-align: center;

      h2 {
        font-family: $font-family-main;
        font-size: 3.6rem;
        font-weight: 100;

        .bolder {
          font-weight: 800;
        }
      }

      .header_underline {
        background-color: $base_bg_color;
        margin: 2rem auto 0;
        width: 8rem;
        height: 0.7rem;
      }
    }

    .icons_container {
      display: flex;
      justify-content: center;
      margin-top: 7.8rem;

      > div {
        margin: 0 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-sizing: border-box;

        .service_name {
          margin-top: 3rem;
          font-size: 1.8rem;
          font-weight: 600;
          text-align: center;
          box-sizing: border-box;
        }

        .service_price {
          font-size: 1.8rem;
          text-align: center;
          box-sizing: border-box;
        }
      }
    }
  }

  .presentations_block {
    background-color: #ffffff;
    height: 104.5rem;
    max-width: 100rem;
    margin: 0 auto;

    > header {
      margin: 0 auto;
      text-align: center;

      h2 {
        font-family: $font-family-main;
        font-size: 3.6rem;
        font-weight: 100;

        .bolder {
          font-weight: 800;
        }
      }

      .header_underline {
        background-color: $base_bg_color;
        margin: 2rem auto 0;
        width: 8rem;
        height: 0.7rem;
      }
    }

    .image_collage {
      margin: 10rem auto 0;
      box-sizing: border-box;
      text-align: center;
    }

    .buttons_container {
      margin-top: 5rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      color: $base_bg_color;

      .button {
        display: block;
        border: solid 2px $base_bg_color;
        padding: 1rem 2rem;
        margin-left: 2rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        text-decoration: none;

        &:hover {
          color: #ffffff;
          background-color: $base_bg_color;
          text-decoration: none;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 67rem;

    .map_shader {
      width: 100%;
      height: 67rem;
      position: absolute;
      z-index: 8;
      background: rgba(0,0,0,0.5);
      color: #ffffff;

      > header {
        margin: 6.5rem auto 0;
        text-align: center;
        box-sizing: border-box;

        h2 {
          font-family: $font-family-main;
          font-size: 3.6rem;
          font-weight: 100;
          color: #ffffff;

          .bolder {
            font-weight: 800;
          }
        }

        .header_underline {
          background-color: #ffffff;
          margin: 2rem auto 0;
          width: 8rem;
          height: 0.7rem;
        }
      }

      .footer_middle {
        margin: 18rem auto 0;
        box-sizing: border-box;
        text-align: center;
        width: 32rem;

        > div {
          margin: 1.5rem 0;
          display: flex;
          align-items: center;

          .text {
            padding-left: 4rem;
            font-size: 1.5rem;
          }
        }
      }

      .copyright {
        color: #ffffff;
        font-size: 1.4rem;
        margin: 20rem auto 0;
        text-align: center;
        box-sizing: border-box;
      }
    }

    .map_layer {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 67rem;
    }
  }
}
